<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Adulteration Signs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        How to Know
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        If you notice any of the following symptoms soon after refuelling you MAY have bought contaminated fuel:
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        What to do
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        If you suspect that you have picked up a bad batch of fuel, your first priority is to take ...
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        Make a Report
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Submit a report using this application or call the...
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
